*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.page1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ACE4E3;
}

.suicide{
    height: 200px;
    width: 600px;
    /* background-color: aqua; */
}

.suicide h1{
    font-size: 70px;
    color: #0B4350;
    font-family: "Bebas Neue", sans-serif;
    line-height: 60px;
    font-stretch: expanded;
}

#date{
    font-weight: 100;
    color: #0B4350;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 10px;
}

.suicide #line1{
    text-align: start;
}

.suicide #line2{
    text-align: end;
}

.page2{
    height: 100vh;
    width: 100%;
    background-color: #0B4350;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 60px;
    padding-top: 150px;
}

.page2 h1{
    font-size: 4vw;
    color: #F58BCF;
    margin-top: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-stretch: expanded;
}

.page2 p{
    width: 60%;
    font-size: 4vw;
    color: #F58BCF;
}

.page3{
    height: 100vh;
    width: 100%;
    background-color: #0B4350;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.myth{
    height: 600px;
    width: 60%;
    background-color: #0B4350;
    border: 4px solid #F58BCF;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    /* gap: 20px; */
}

/* #card3{
    background-color: aquamarine;
} */

.myth p{
    width: 90%;
}

.card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#card3, #card4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#card1 i{
    font-size: 7vw;
    font-weight: 900;
    color: #ACE4E3;
}

.card h3{
    color: #ACE4E3;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-stretch: expanded;
}

.card p{
    color: #F58BCF;
    font-size: 20px;
}

#card3{
    padding-left: 30px;
}

.page4, .page5, .page6{
    height: 100vh;
    width: 100%;
    background-color: #0B4350;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.page7{
    height: 100vh;
    width: 100%;
    background-color: #ACE4E3;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.page7 .circle{
    height: 300px;
    width: 300px;
    background-color: #0B4350;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: 30%;
}

.page7 h1{
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 3vw;
}